Importing libraries

In [2]:
import pandas as pd

Importing datasets

In [24]:
Schools_Scotland_21May2025 = pd.read_excel(
    '/Users/ericmarshall/Desktop/Hackathon datasets/Raw data/School_Contacts_21_May_2025.xlsx',
    header=None,
    sheet_name="Open Schools"
)

Info on dataset

In [26]:
Schools_Scotland_21May2025.head()       
Schools_Scotland_21May2025.info()      
Schools_Scotland_21May2025.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2445 entries, 0 to 2444
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2442 non-null   object
 1   1       2440 non-null   object
 2   2       2440 non-null   object
 3   3       2441 non-null   object
 4   4       2441 non-null   object
 5   5       2042 non-null   object
 6   6       1392 non-null   object
 7   7       2440 non-null   object
 8   8       2439 non-null   object
 9   9       2440 non-null   object
 10  10      2440 non-null   object
 11  11      2435 non-null   object
 12  12      2441 non-null   object
 13  13      2440 non-null   object
 14  14      2440 non-null   object
 15  15      2440 non-null   object
 16  16      2201 non-null   object
 17  17      2008 non-null   object
 18  18      1980 non-null   object
 19  19      362 non-null    object
 20  20      2424 non-null   object
 21  21      2440 non-null   object
 22  22      2440 non-null   object
dtypes: object(23)
memory usage: 439.5+ KB

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
count,2442,2440,2440,2441,2441,2042,1392,2440,2439,2440,...,2440,2440,2440,2201,2008,1980,362,2424,2440,2440
unique,2442,34,3,2270,2082,898,221,2285,2386,2423,...,3,3,3,3,5,3,3,3,3,6
top,Publicly funded schools open 30 April 2025,Highland,Local Authority,St Joseph's Primary School,Main Street,Edinburgh,GLASGOW,AB22 8UR,126087649,headteacher@northkelvinside-pri.glasgow.sch.uk,...,Yes,No,No,No,English medium only,Yes,Yes,10,No,Non-denominational
freq,1,196,2431,7,38,102,242,4,3,2,...,1981,2076,2316,2053,1915,1972,348,1934,2020,2071

In [30]:
print(Schools_Scotland_21May2025.columns)

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22],
      dtype='int64')

Keeping desired columns

In [41]:
Schools_Scotland = Schools_Scotland_21May2025[
    [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
    ]
]

In [47]:
Schools_Scotland.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2445 entries, 0 to 2444
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       2440 non-null   object
 1   2       2440 non-null   object
 2   3       2441 non-null   object
 3   4       2441 non-null   object
 4   5       2042 non-null   object
 5   6       1392 non-null   object
 6   7       2440 non-null   object
 7   8       2439 non-null   object
 8   9       2440 non-null   object
dtypes: object(9)
memory usage: 172.0+ KB

Saving to CSV

In [49]:
Schools_Scotland.to_csv('/Users/ericmarshall/Desktop/Hackathon datasets/Completed datasets/Schools_Scotland.csv', index=False)